#{a}
#{foreach}($a in $b)
#{include}('a')
#{macro}(a $b $c)
#{parse}('a')
#{set}($a = $b)
#{stop}()
#{literal}($a)
#{evaluate}($b)
#{a}($a)

#{foreach} ($a in $b)
#{include} ('a')
#{macro} (a $b $c)
#{parse} ('a')
#{set} ($a = $b)
#{stop} ()
#{literal} ($a)
#{evaluate} ($b)
#{a} ($a)

#{foreach
#{include
#{macro
#{parse
#{set
#{stop
#{literal
#{evaluate
#{a
#{a ($a)

#foreach}
#include}
#macro}
#parse}
#set}
#stop}
#literal}
#evaluate}
#a}
#a} ($a)

#{foreach}
#{include}
#{macro}
#{parse}
#{set}
#{stop}
#{literal}
#{evaluate}
