#if( $foo < 10 )
    <strong>Go North</strong>
#elseif( $foo == 10 )
    <strong>Go East</strong>
#else()
    <strong>Go West</strong>
#end()

#if ( $foo < 10 )
    <strong>Go North</strong>
#elseif ( $foo == 10 )
    <strong>Go West</strong>
#else ()
    <strong>Go West</strong>
#end ()

#if
#elseif
#else
#end

#ifa
#elseifa
#elsea
#enda

#ifa()
#elseifa()
#elsea()
#enda()

#ifa ()
#elseifa ()
#elsea ()
#enda ()
